.recommendation-hero {
    height: 90vh;
    overflow: hidden;
    /*width: 100vw;*/
    color: #202020;
}

.recommendation-hero .img-wrapper {
    width: 25%;
    margin: 7% auto 0;
    min-width: 300px;
}

.recommendation-hero .img-wrapper img {
    width: 100%;
}

