section.video {
    margin: 100px 0;
}
section.video .video-container {
    /*height: min-content;*/
}
section.video .video-container iframe {
    width: 100%;
    height: 500px;
    border: 8px solid #44c27e;
    border-radius: 8px;
}

@media screen and (max-width: 750px) {
    section.video .video-container iframe {
        height: 56.26vw;
    }
}

@media screen and (max-width: 400px) {
    section.video {
        margin: 50px 0;
    }
}